.pracitceSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
}


.example-parent {
    border: 2px solid #DFA612;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  .example-draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .example-dropzone {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }

  .dropZone{
    height: 80px;
    width: 120px;
    border-radius: 15px;
    border: 3px dashed rgb(128, 128, 128);
    background: rgb(206, 206, 206);
    position: relative;
    margin-top: 10px;
  }

  .customIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .customIcon:hover{
    transform: scale(1.2);
  }

  .wordOption{
    height: 80px;
    width: 120px;
    border-radius: 15px;
    border: 3px dashed #7FC7D9;
    background: #DCF2F1;
    position: relative;
  }

  .wordOptionText{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .wordOptionHolder{
    background-color: #F0F0F0;
    border: 3px dashed #B6BBC4;
    border-radius: 15px;
    padding: 20px;
    min-height: 50px;
  }